*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--font-sans: Inter, Arial, "Helvetica Neue", "Noto Sans JP", "Source Han Sans JP", "BIZ UDPゴシック", "Yu Gothic UI", sans-serif;
	--color-white1: #f8f9fa;
	--color-deep-purple: #1f1e33;
	--color-pale-black1: rgba(0, 0, 0, 0.2);
	--color-pale-black2: rgba(0, 0, 0, 0.05);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
	background-color: var(--color-white1);
	line-height: 1.5;
}

#_container {
	margin: 0 auto;
	width: 100%;
	padding: 1px 0.75rem;
	border-left: solid 1px var(--color-pale-black1);
	border-right: solid 1px var(--color-pale-black1);

	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}

	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}

p, h1, h2, h3, h4, h5, h6, pre, div, ul, ol, dl, table {
	margin: 0 0 1.2rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	color: var(--color-deep-purple);
}

h1 {
	margin: 1.75rem auto;
	padding: 0.2rem 1.2rem;
	width: max-content;
	box-shadow: 0 0 5px 1px var(--color-deep-purple);
	border-radius: 1000px;
}

h2 {
	padding: 0 0.5rem;
	border-bottom: double 3px;
}

h3 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

h4, h5, h6 {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

h5, h6 {
	font-size: 1.0rem;
}

p, ul, ol, dl {
	margin-left: 1.0rem;
	margin-right: 1.0rem;
}

ul, ol {
	padding-left: 1.5rem;
}

ul {
	list-style-type: "\266b   ";

	&.unstyled {
		padding: 0;
		list-style: none;
	}
}

li > ul, li > ol, li > dl {
	margin: 0;
	padding-bottom: 0.2rem;
}

a {
	text-decoration: none;
	color: #00268d;
	transition: 80ms ease-in-out;

	&:hover {
		opacity: 0.6;
	}
}

table {
	display: block;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	max-width: 100%;
	overflow-x: auto;
	border: none;
	background-color: white;

	td, th {
		font-weight: 400;
		padding: 0.2rem 0.5rem;
		border: solid 1px var(--color-pale-black1);
		vertical-align: middle;
		text-align: center;
	}

	tr:nth-child(even) {
		background-color: var(--color-pale-black2);
	}
}

img {
	display: block;
	width: max-content;
	max-width: 100%;
	height: auto;
	margin: 1.8rem auto;

}

.text-centre {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

